*{padding: 0;margin: 0;}
body{margin: 0 auto;width: 1260px;}
a{text-decoration: none;color: #000;}
#container{width: 1260px;float: left;}
#header{width: 100%;height: 45px;background: -webkit-gradient(linear,left top, left bottom,from(#E6281A),to(#DA1708),color-stop(0.4,#E02012));
background: -moz-linear-gradient(left top, left bottom,from(#E6281A),to(#DA1708),color-stop(0.4,#E02012));}
#header ul{float: right;margin-right: 30px;}
#header ul li{float: left;list-style: none;}
#header ul li a{display: inline-block;width: 105px;height: 29px;margin-top: 8px;color: #fff;font: bold 16px/29px "微软雅黑";text-align: center;margin-right: 2px;}
#header ul li .first{background: #fff;border-radius: 15px;color: #DE1D0E;}
#header ul li a:hover{background: #fff;border-radius: 15px;color: #DE1D0E;}
#content{width: 100%;height: 830px;background: url(../img/login.jpg);background-size: 100% 100%;position: relative;}
.logo_login{margin: 19px 0 0 57px;float: left;}
.gaiban{position: absolute;top: 140px;left: 150px;}
.gaiban h1{font: bold 40px "微软雅黑";color: #FFFFFF;letter-spacing: 5px;}
.gaiban ul{color: #fff;margin: 40px 0 0 30px;}
.gaiban li{font: bold 20px "微软雅黑";margin: 20px 0;}
.gaiban p{font: bold 16px "微软雅黑";}
.login{width: 370px;height: 408px;background: rgba(255,255,255,.5);border-radius: 5px;position: absolute;top: 105px;right: 166px;}
.login p{color: #595959;margin: 5px;}
.login>p{font: 24px "微软雅黑"; color: #333;margin-top: 20px;text-align: center; }
.login>table{font-size: 13px;margin:20px 0 0 40px;}
.login>table input{width: 220px;height: 30px;border-radius: 5px;border: 1px solid #CCCCCC;}
.login .user{margin-top: 20px;}
.login a{color: #468847;}
.login .a1{float: right;}
.login .yzm{width: 104px;float: left;margin: 10px 0 5px;}
/*.login .yzm_img{float: left;margin: 10px 0 0 10px;}*/
.login #yzm{float: left;margin: 10px 0 0 10px;width: 90px;height: 30px;background: #000;color: #fff;font: 28px/24px "微软雅黑";text-align: center;cursor: pointer;}
.login .yzm_p{clear: both;}
.login .jzmm{width: 15px;height: 15px;margin-top: 15px;}
.login .span2{color: red;}
.login .span1{color: #49A523;}
.login button{width: 204px;height: 36px;border: none;border-radius: 5px;background: #D53125;color: #fff;margin-top: 20px;}